* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
}

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-section .header {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(91, 91, 91, 0.1);
}

.header-logo {
  padding: 20px 0;
}

.header-logo a {
  display: inline-block;
  color: #000;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.header-menu {
  padding: 30px 0;
  text-align: center;
}

.header-menu ul {
  margin-bottom: 0;
}

.header-menu ul li {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.header-menu ul li:last-child {
  margin-right: 0;
}

.header-menu ul li a {
  font-size: 17px;
  color: #111;
  font-weight: 500;
  display: block;
  padding: 2px 0;
  position: relative;
}

.header-menu ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff5903;
  content: "";
  transition: all 0.5s;
  transform: scale(0);
}

.header-menu ul li.active a:after {
  transform: scale(1);
}

.header-menu ul li:hover a:after {
  transform: scale(1);
}

.header-right {
  text-align: right;
  padding: 30px 0;
}

.header-right .header-right-btn {
  display: inline-block;
}

.header-right .header-right-btn a {
  font-size: 17px;
  color: #1f1f1f;
  font-weight: 500;
  position: relative;
  margin-right: 13px;
  transition: 0.3s;
}

.header-right .header-right-btn a:after {
  position: absolute;
  right: -12px;
  top: 2px;
  content: "/";
  font-size: 16px;
  color: #ff5903;
}

.header-right .header-right-btn a:last-child:after {
  display: none;
}

.header-right .header-right-btn a:last-child {
  margin-right: 0;
}

.header-right .header-right-btn a:hover {
  color: #ff5903;
}

.hero-slider {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  padding: 90px 0 75px 0;
}

.slider-bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.slider-bg-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.hero-slider .row {
  align-items: center;
}

.hero-slider #carouselExampleIndicators {
  width: 100%;
}

.hero-slider .detail-box h1 {
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
}

.hero-slider .detail-box h1 span {
  color: #ff5903;
  text-transform: uppercase;
}

.hero-slider .detail-box p {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.hero-slider .detail-box a {
  display: inline-block;
  padding: 12px 45px;
  background-color: #fff;
  border: 2px solid #fff;
  color: #ff5903;
  margin-top: 10px;
  font-weight: 700;
  transition: all 0.3s;
}

.hero-slider .detail-box a:hover {
  background-color: #ff5903;
  color: #fff;
}

.hero-slider .carousel-indicators {
  position: unset;
  margin: 0;
  margin-top: 45px;
  justify-content: flex-start;
  align-items: center;
}

.hero-slider .carousel-indicators li {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.hero-slider .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #ff5903;
}

.padding-layout {
  padding: 100px 0;
}

.heading-container h2 {
  position: relative;
  color: #000;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.heading-container h2:after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: #ff5903;
  margin: 10px auto 10px;
}

.feature-section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #002c3e;
  padding: 65px 50px;
  border-radius: 5px;
  color: #fff;
}

.feature-section .box .box-icon {
  margin-bottom: 15px;
}

.feature-section .box .box-icon i {
  font-size: 45px;
}

.feature-section .box .detail-box h5 {
  font-size: 21px;
  font-weight: 700;
  transition: 0.3s;
}

.feature-section .box:hover .detail-box h5 {
  color: #ff5903;
}

.feature-section .box .detail-box p {
  margin-bottom: 0;
  color: #f2f2f2;
}

.arrival-section {
  background-color: #002c3e;
}

.arrival-section .heading-container {
  margin-bottom: 10px;
}

.arrival-section .box {
  padding: 120px 45px;
  position: relative;
  z-index: 4;
}

.arrival-section .box .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrival-section .box h2 {
  color: #fff;
}

.arrival-section .box .bg-img img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.remove-sep h2:after {
  display: none;
}

.arrival-section .box p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.arrival-section .box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff5903;
  border: 2px solid #ff5903;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s;
}

.arrival-section .box a:hover {
  background-color: transparent;
  color: #fff;
}

.product-section .heading-container {
  margin-bottom: 20px;
}

.product-section .box {
  position: relative;
  margin-top: 25px;
  padding: 35px 35px;
  background-color: #f7f8f9;
  overflow: hidden;
  transition: all 0.3s;
}

.product-section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.product-section .box .img-box img {
  max-width: 100%;
  max-height: 250px;
  transition: all 0.3s;
}

.product-section .box .detail-box {
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #002c3e;
}

.product-section .box .detail-box h5 {
  font-size: 18px;
  margin-top: 10px;
}

.product-section .box .detail-box h6 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

.product-section .box:hover img {
  transform: scale(1.1);
}

.product-section .box .option-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 44 62/70%);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: all 0.5s;
}

.product-section .box:hover .option-container {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product-section .options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section .options a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 30px;
  width: 165px;
  text-align: center;
  margin: 5px 0;
  transition: all 0.3s;
}

.product-section .options a.option1 {
  background-color: #ff5903;
  border: 1px solid #ff5903;
  color: #fff;
}

.product-section .options a.option1:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.product-section .options a.option2 {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

.product-section .options a.option2:hover {
  background-color: #ff5903;
  border: 1px solid #ff5903;
  color: #fff;
}

.product-section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.product-section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #ff5903;
  border: 2px solid #ff5903;
  color: #fff;
  transition: all 0.3s;
  border-radius: 30px;
}

.product-section .btn-box a:hover {
  background-color: transparent;
  color: #ff5903;
}

.heading-container h2 span {
  color: #ff5903;
}

.subscribe-section {
  text-align: center;
}

.subscribe-section .box {
  background-color: #002c3e;
  padding: 100px 45px;
}

.subscribe-section .subscribe-form .heading-container h3 {
  position: relative;
  color: #fff;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: bold;
}

.subscribe-section .subscribe-form p {
  color: #fff;
}

.subscribe-section .subscribe-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-section .subscribe-form form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 90px;
  outline: none;
  padding: 5px 25px;
  background-color: #fff;
  margin-top: 15px;
  text-align: left;
}

.subscribe-section .subscribe-form form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ff5903;
  border: 2px solid #ff5903;
  color: #fff;
  cursor: pointer;
  border-radius: 35px;
  transition: all 0.5s;
  text-transform: uppercase;
  margin-top: 35px;
  font-weight: 600;
  width: 100%;
  max-width: 285px;
}

.subscribe-section .subscribe-form form button:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.progress {
  position: relative;
  width: 210px;
  height: 30px;
  background-color: #9cbab4;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background-color: #009579;
  transition: all 0.5s;
}

.progress-text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font: bold 12px 'Quicksand', sans-serif;
  color: #ffffff;
}

/* .client-section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 55px;
}

.client-section .box .img-container {
  width: auto;
  height: auto;
  border-radius: 100%;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}

.client-section .box .img-container .img-box {
  width: auto;
  height: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: -1px;
}

.client-section .box .img-container .img-box .img-box-inner {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.client-section .box .img-container .img-box .img-box-inner img{
  width: 100%;
}

.client-section .box .detail-box {
  margin-top: 25px; 
}

.client-section .box .detail-box h5 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.client-section .box .detail-box h6 {
  font-size: 15px;
  color: #999998;
}

.client-section .box .detail-box p {
  max-width: 800px;
  margin: auto;
  font-size: 17px;
  color: #000;
} */

.footer {
  background-color: #002c3e;
  padding: 90px 0 70px;
}

.footer .footer-logo {
  margin-bottom: 30px;
}

.footer .footer-logo a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 28px;
  color: #fff;
}

.footer .footer-logo a span {
  color: #ff5903;
  font-size: 32px;
  font-weight: 700;
}

.footer .information p {
  margin-bottom: 1.2rem;
  line-height: 25px;
  font-size: 15px;
  max-width: 300px;
  color: #fff;
}

.footer .widget-menu h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
  color: #fff;
}

.footer .widget-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .widget-menu ul li {
  float: left;
  width: 100%;
}

.footer .widget-menu ul li a {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  margin-top: 5px;
}

.field {
  display: flex;
}

.form_sub .field input[type="email"],
.form_sub .field input[type="email"]:hover,
.form_sub .field input[type="email"]:focus {
  padding: 10px 110px 10px 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 48px;
}

.form_sub {
  position: relative;
}

.form_sub input[type="email"] + input[type="submit"] {
  position: absolute;
  right: 0;
  background-color: #ff5903;
  color: #fff;
  top: 0;
  border: none;
  font-size: 14px;
  height: 48px;
  font-weight: 600;
  padding: 0 15px;
}

.copy-right {
  background-color: #0b384a;
  text-align: center;
  padding: 20px 0;
}

.copy-right p {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.copy-right p a {
  margin: 0;
  color: #ff5903;
  font-size: 15px;
  font-weight: 400;
}

/*Responsiveness*/

@media (max-width: 992px) {
  .hero-section {
    min-height: auto;
  }

  .hero-section .header-logo,
  .hero-section .header-menu,
  .hero-section .header-right {
    text-align: center;
    padding: 10px 0;
  }

  .hero-slider .detail-box h1 {
    font-size: 3.5rem;
  }
  .header-logo {
    width: 90%;
  }
}
